body {
    font-family: Arial, Verdana;
    font-size : 0.85em;
}

.jBradiogroup, .jBtextfield, .jBpassword, .jBcheckbox, .jBselect, .jBbutton {
    line-height: 30px;
}

.fieldLabel {
    float : left;
    width : 100px;
    line-height : 30px;
    clear : left;
}

.jBbutton button {
    float : right;
}

.clrLeft {
    clear : left;
    line-height : 0px;
}

.interface {
    margin : 0;
    padding: 0;
    height : 100%;
    background-color : #FFFFFF;
}


body {
    height : 100%;
    margin : 0;
    padding : 0;
}
.frame {
    padding : 5px;
    margin-left: auto;
    margin-right : auto;
}
.centerFrame {
    padding-top : 5px;
    padding-bottom : 5px;
    position:relative;
}

.eastPanel, .westPanel, .centerPanel {
    height : 100%;
    overflow : hidden;
}
.eastPanel {
    float:right;
    margin-left : 5px;
}
.westPanel {
    float:left !important;
    margin-right : 5px !important;
}